header{
  background:linear-gradient(180deg,#67e8f9,#0ea5e9,#0369a1);
  color:white;
  text-align:center;
  padding:18px;
  font-weight:900;
  font-size:24px;
  position:sticky;
  top:0;
  z-index:1000;
  border-bottom:4px solid #075985;
  box-shadow:
    0 6px 0 #075985,
    0 12px 20px rgba(0,0,0,.35);
  text-shadow:
    0 2px 0 rgba(0,0,0,.3),
    0 4px 8px rgba(0,0,0,.25);
  border-radius:0 0 15px 15px;
}
